<style>
table,th,td {
    border:2px solid black
}
</style>
<br>
<%=  "วิชาที่คะแนนมากที่สุด :#{@maxSubject}" %>
<br>
<%=  "คะแนนเฉลี่ย :#{@avgScore}" %>

<br><br>
<table class="container text-center">
    <thead class="table-danger">
    <th class="table-danger">Subject</th>
    <th class="table-danger">Score</th>
    <th class="table-danger">Grade</th>
    <% if session[:logged_in] == true %>
        <th class="table-danger">Edit</th> 
    <% end %>
    <th class="table-danger">Delete</th>
    </thead>

    <tbody>
    <% @student.scores.each do |s| %>
        <tr>
            <td><%= s.subject%></td>
            <td><%= s.point %></td>
            <td><%= s.grade %></td>
            <% if session[:logged_in] == true %>
                <td><%= link_to 'EDIT', '/scores/' + s.id.to_s + '/edit' %></td> 
                <% end %>
            <td><%= button_to "DELETE", s, method: :delete %></td>
            
        </tr>
    <%end%>
    </tbody>

</table>
<br>
<%= link_to 'NEW SUBJECT', '/scores/new' %>